<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066917718894-iv2087uaauj3f258ne1s7k8pkgj4csa8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066917718894-iv2087uaauj3f258ne1s7k8pkgj4csa8</string>
	<key>API_KEY</key>
	<string>AIzaSyDn2UbTk0cZUyKUYKW5WStXuQUNy0eSLRc</string>
	<key>GCM_SENDER_ID</key>
	<string>1066917718894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-d438b</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-d438b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066917718894:ios:0290abdfab6b3ba90b6f7f</string>
</dict>
</plist>